.admin-table table,
td,
th {
  border: 1px solid white;
  text-align: left;
}
.form-container {
  margin-bottom: 20px;
}
.admin-table input {
  padding: 5px;
}
.admin-table table {
  border-collapse: collapse;
  width: 100%;
}

.admin-table th,
td {
  padding: 15px;
}
.tr:hover {
  background-color: #f4f3f3;
}
.admin-table thead {
  background-color: rgb(169, 17, 224);
  color: white;
}
.admin-edit-btn,
.admin-remove-btn {
  background-color: rgb(18, 98, 211);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 7px;
  margin-right: 5px;
  margin-left: 15px;
  padding: 5px 15px;
}
button:hover {
  background-color: rgba(4, 137, 199, 0.95);
}
