.footer-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(41, 40, 40);
  padding: 20px;
  color: white;
  position: absolute;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* bottom:0; */
  width: 100%;
}
.footer-admin {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(41, 40, 40);
  padding: 20px;
  color: white;
  position: absolute;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
