.login-container body {
  background-color: rgba(0, 0, 0, 0.835);
  color: rgb(236, 229, 229);
}
.login-container h2 {
  font-size: 1.8rem;
}
.login-container {
  height: 570px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.213);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  border-radius: 10px;
  /* box-shadow: 0 0 40px rgb(39, 51, 61); */
  padding: 50px 35px;
}
.login-container label {
  display: block;
  margin-top: 20px;
  font-size: 1.1rem;
 
}
.login-container input {
  color: rgb(236, 229, 229);
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(214, 208, 208, 0.416);
  border-radius: 23px;
  border: solid 1px gray;
  padding: 5 10px;
  margin-top: 8px;
  font-size: 20px;
}

 .btn-login {
  margin-left: 2px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 13px;
  border-radius: 23px;
  background-color: rgb(48, 78, 185);
  font-size: 1rem;
  box-shadow: 0 0 40px rgba(122, 84, 110, 0.6);
}
.btn-login:hover {
  background-color: rgb(21, 58, 162);
}
.go-to-sign {
  background: none;
}
.go-to-sign:hover {
  background: none;
}
.error{
color: white;
font-weight: bold;
}
