* {
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
table,
td,
th {
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
.tr:hover {
  background-color: #f4f3f3;
}
thead {
  background-color: rgb(0, 195, 255);
  color: white;
}
